*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card-container{
    margin-top: 5%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
  }
  
  .card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    overflow: hidden;
    transition: transform 0.2s;
    height: 60vh;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.25em;
    margin: 0 0 10px;
  }
  
  .card-description {
    font-size: 1em;
    color: #666;
    margin: 0 0 10px;
  }
  
  .card-price {
    font-size: 1.25em;
    color: #333;
    margin: 0 0 10px;
  }
  
  .card-rating {
    display: flex;
    align-items: center;
  }
  
  .card-rating span {
    margin-left: 5px;
  }
  
  .card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .card-button {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-button {
    background-color: #28a745;
    color: white;
  }
  
  .remove-button {
    background-color: #dc3545;
    color: white;
  }
  
  