*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
  .product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
  }
  
  .product-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .product-info {
    max-width: 600px;
  }
  
  .product-title {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .product-description {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
  }
  
  .product-price {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .product-rating {
    display: flex;
    align-items: center;
  }
  
  .product-rating span {
    margin-left: 5px;
    font-size: 1em;
  }
  